body {

}

.logo{
    width:200px;
    height:200px;
}

.jumbotron{
    background: none;
}

.box-shadow{
    font-size: 1rem;
    line-height: inherit;
}

html{
    position: relative;
    min-height: 100%;
}

body{
    margin-bottom: 60px;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
    height: 100px;
}
